graft gitcalendar_webservice*
include README.md

exclude gitcalendar_webservice/gitcalendar_webservice/private_settings.py
exclude .gitignore *.ini
global-exclude __pycache__/*

prune venv
prune env

