{% extends "base.html" %}

{% block content %}
    <h2>Calendar Configurations</h2>

    <table style="width: 50%">
        <tr>
            <th style="text-align:left">Calendar configuration name</th>
            <th style="text-align:left">User</th>
            <th style="text-align:left">Actions</th>
        </tr>
        {% for cal in object_list %}
            <tr>
                <td><a href="{% url 'core:calendar.detail' cal.pk %}">{{ cal.config_name}}</a></td>
                <td>{{ cal.user }}</td>
                <td>
                    <a href="{% url 'core:calendar.update' cal.pk  %}"> Edit</a>
                    <a href="{% url 'core:calendar.delete' cal.pk %}"> Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'core:calendar.add' %}">Add Calendar Configuration </a></p>
    <p><a href="{% url 'core:homesite' %}">Back to Home</a> </p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endblock %}
