{% extends "base.html" %}

{% block content %}
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: auto; background: #ca6410" >
    <form class="card-body" style="background: #ca6410; color: white" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-light" type="submit" value="Save">
    <p style="margin-top: 5px"><a href="{% url 'core:gitlabapi.add' %}" class="btn btn-light">Add GitLab API</a></p>
    </form>
    </div>
{% endblock %}
