{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #ca6410">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'core:calendar.list' %}">
    <img src="../static/images/DLR_Signet_weiss.png" alt="" width="40"  class="d-inline-block align-text-top">
    Calendar Configurations
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link" href="{% url 'core:homesite' %}">Back to Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core:calendar.add' %}">Add Calendar Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



    <h2 style="margin-top: 10px">Calendar Configuration Detail</h2>

    <table style="width: 50%">
    <tr>
        <th style="text-align:left">API name</th>
        <td>{{ object.config_name }}</td>
    </tr>
    <tr>
        <th style="text-align:left">User</th>
        <td>{{ object.user.username }}</td>
    </tr>
    <tr>
        <th style="text-align:left">API</th>
        <td>{{ object.api }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Project list</th>
        <td>{{ object.projects }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Group list</th>
        <td>{{ object.groups }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Reminder</th>
        <td>{{ object.reminder }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Only issues</th>
        <td>{{ object.only_issues }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Only milestones</th>
        <td>{{ object.only_milestones }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Write Token</th>
        <td>{{ object.write_token }}</td>
    </tr>
    <tr>
        <th style="text-align:left">Read Token</th>
        <td>{{ object.read_token }}</td>
    </tr>
    <tr>
        <th style="text-align:left">ICS file exists</th>
        <td>{{ object.file_exists }}</td>
    </tr>
    </table>

    <p style="margin-top: 10px"><a href="{% url 'core:calendar.update' object.pk %}" class="btn btn-light btn-sm"> Edit</a></p>
    <p><a href="{% url 'core:calendar.delete' object.pk %}" class="btn btn-light btn-sm"> Delete</a></p>
    <p><a href="{% url 'core:ics.generate' object.write_token %}" class="btn btn-light btn-sm">Trigger Calendar generation</a> </p>
    {% if object.file_exists %}
        <a href="{% url 'core:ics.show' object.read_token object.config_name %}.ics" class="btn btn-secondary btn-sm">Show File content</a>
        <a href="../{{ object.read_token }}/{{ object.config_name }}.ics" class="btn btn-secondary btn-sm">Download File</a>
    {% endif %}
<p><a href="{% url 'core:calendar.list' %}" class="btn btn-secondary btn-sm">Back to Calendar list </a></p>
{% endblock %}
