{% extends "base.html" %}
{% block content %}
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: auto; background: #ca6410" >
<form method="post" class="card-body">{% csrf_token %}
    <p class="card-text">Are you sure you want to delete "{{ object }}"?</p>
    {% if object.get_related %}
        <p class="card-text">There are some related entries left that will be deleted if you confirm.</p>
        <ol>
            {% for cal in object.get_related %}
                <li>{{ cal.config_name }}</li>
            {% endfor %}
        </ol>
    {% endif %}

    <input type="submit" value="Confirm" class="btn btn-light" style="margin: 5px">

</form>
    </div>
{% endblock %}