{% extends "base.html" %}

{% block content %}
    <h2>GitLab APIs</h2>

    <table style="width: 50%">
        <tr>
            <th style="text-align:left">API name</th>
            <th style="text-align:left">User</th>
            <th style="text-align:left">Actions</th>
        </tr>
        {% for api in object_list %}
            <tr>
                <td><a href="{% url 'core:gitlabapi.detail' api.pk %}">{{ api.api_name }}</a></td>
                <td>{{ api.user }}</td>
                <td>
                    <a href="{% url 'core:gitlabapi.update' api.pk %}"> Edit</a>
                    <a href="{% url 'core:gitlabapi.delete' api.pk %}"> Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'core:gitlabapi.add' %}">Add API Configuration </a></p>
    <p><a href="{% url 'core:homesite' %}">Back to Home</a> </p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endblock %}
