{% extends 'base.html' %}
{% load static %}
{% block title %}GitCalendar Webservice{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h4>Hi {{ user.username }}!</h4>
    <p><a href="{% url 'core:user.gitlabapi.list' user.pk %}">Manage Your GitLab API Configurations</a></p>
    <p><a href="{% url 'core:user.calendar.list' user.pk %}">Manage Your Calendar Configurations</a></p>
    {% if user.is_superuser %}
        <h4>Admin functionalities</h4>
        <p><a href="{% url 'admin:index' %}">Go to admin panel</a></p>
    {% endif %}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
    <p><a href="{% url 'login' %}">Log In</a></p>
    <p><a href="{% url 'core:signup' %}">Sign up</a></p>
{% endif %}
{% endblock %}
